* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spring {
  height: 200px;
  background-size: cover;
  background-image: url(img/box1.jpg);
  background-position: center;
}

.summer {
  height: 200px;
  background-size: cover;
  background-image: url(img/box2.jpg);
  background-position: center;
}

.autumn {
  height: 200px;
  background-size: cover;
  background-image: url(img/box3.jpg);
  background-position: center;
}

.winter {
  height: 200px;
  background-size: cover;
  background-image: url(img/box4.jpg);
  background-position: center;
}